.profileScreen{
    height: 100vh;
    color: white;
    padding-bottom: 5rem;
}
.profileScreen__body{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    /* max-width: 800px; */
}
.profileScreen__info{
    display: flex;
}
.profileScreen__info > img{
    height: 100px;
}
.profileScreen__body > h1{
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}
.profileScreen__details{
    color: white;
    margin-left: 25px;
    flex: 1;
}
.profileScreen__details > h2{
    background-color: grey;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}
.profileScreen__signout{
    padding: 10px 20px;
    font-size: 1rem;
    width: 100%;
    margin-top: 5%;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.profileScreen__plans{
    margin-top: 20px;
}
.profileScreen__plans > h3{
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}

@media(max-width:768px){
    .profileScreen{
        padding-bottom: 0px;
    }
    .profileScreen__body{
       width: 300px;
       max-width: 500px;
       padding-top: 50px;
    }
    .profileScreen__info{
        display: block;
        max-width: 500px;
        margin: auto;
    }
    .profileScreen__body > h1{
        font-size: 1.5rem;
        margin-top: 20px;
        width: 300px;
    }
    .profileScreen__plans{
        width: 100%;
        /* max-width: 400px; */
    }
}